footer {
    text-align: center;
    background-color: #FFC5E3;
    color: white;
    font-size: 12px;
}

.mainbox { 
    border: 5px inset #EE1887;
    width: 800px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top:30px;
}

